option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "jane_django_project.settings"
    PYTHONPATH: "/opt/python/current/app/jane_django_project:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "jane_django_project/jane_django_project/wsgi.py"
